{% extends "base.html" %}
{% block start %}
<div class="container mt-5">
    <form method="POST" enctype="multipart/form-data" class="col-6 mx-auto card p-3 shadow-lg">
        {% csrf_token %}
        <h2>Add Recipe</h2>
        
        <div class="mb-3">
            <label class="form-label">Recipe Name</label>
            <input name="recipe_name" required type="text" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">Recipe Description</label>
            <textarea name="recipe_description" required class="form-control"></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">Recipe Image</label>
            <input type="file" name="recipe_image" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary">Add Recipe</button>
    </form>
    {{receipes0}}

    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">receipe_name</th>
      <th scope="col">receipe_description</th>
      <th scope="col">image</th>
    </tr>
  </thead>
  <tbody>
    {%for recceipe in receipes%}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{receipe.receipe_name}}</td>
      <td>{{receipe.receipe_description}}</td>
      <td>{{recipe.recipe_image}}</td>
    </tr>
    {%endfor %}
  </tbody>
</table>
    {% if recipe %}
        <div class="mt-4">
            <h4>Uploaded Recipe Image:</h4>
            <img src="{{ recipe.recipe_image.url }}" alt="Recipe Image" height="200">
        </div>
    {% endif %}
</div>
{% endblock %}
